<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HelpMyUsers</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Bootstrap -->
    <link href="../public/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../public/assets/css/animate.css">

    <!-- Owl-carousel style -->
    <link rel="stylesheet" href="../public/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/assets/css/owl.theme.css">

    <!-- magnific style -->
    <link rel="stylesheet" href="../public/assets/css/magnific-popup.css">

    <!-- Custom stylesheet-->
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/responsive.css" media="screen">

    <!-- Added google font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!--Fav and touch icons-->
    <!-- <link rel="shortcut icon" href="../public/assets/images/icons/favicon.ico"> -->
    <link rel="apple-touch-icon" href="../public/assets/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/assets/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/assets/images/icons/apple-touch-icon-114x114.png">
    
    <link rel='stylesheet' href='/stylesheets/modal.css' />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->





    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="angular/angularhelpmyusers.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   

  


    <style>
        .imageClass {
            cursor:url(http://www.rw-designer.com/cursor-extern.php?id=12779), auto;
        }

        img {
           padding:1px;
           border:1px solid #021a40;
           background-color:#7ec0ee;
        }
    </style>




<!--   <script src="../public/scripts/pace.js"></script>
  <link href="../public/stylesheets/bounce-pace.css" rel="stylesheet" />

 -->


</head>

<body ng-app="helpmyusers" ng-controller="analytics">

            <div class="contact">

                <div class="row" style="padding-bottom: 0px;">
                    <div class="col-md-12" style="padding-bottom: 0px;">
                        <div>
                            <div class="col-md-1" style="padding-left: 2px; border-collapse: 0px">
                                <a href="/"><img src="../public/assets/images/logo.png" alt="gigninga"></a>
                            </div>
                            <div class="col-md-4" style="padding-left: 2px; border-collapse: 0px">
                                <h3 class="banner-dash" style="color:#0aabe1; font-size: 40px; text-align: left;">HelpMyUsers</h3>
                            </div>
                            <div class="col-md-7" style="padding-left: 2px; border-collapse: 0px">
                                <h3 style="color:#3ec6ef; text-align: right; " on-click="/">Logout</h3>
                            </div>
                            
                        </div>
                    </div>

                        <div class="col-md-6" style="border-right: 3px solid  #3ec6ef;min-height: 400px" >
                                <div class="title" style="padding-bottom: 10px;">
                                    <h3>Clicks Per Page</h3>
                                    <nvd3 options='clickCountOptions' data='clickCountData'></nvd3>
                                </div>

                        </div>

                        <div class="col-md-3">
                                    <div class="title" style="padding-bottom: 10px;border-right: 3px solid  #3ec6ef">
                                        <h3>Less Visited Areas</h3>
                                        <nvd3 options='websitedonutOptions' data='websiteDonutData'></nvd3>
                                        <button class="btn btn-block" ng-click="setDashboardCallout();">Make callout</button>
                                    </div>


                        </div>

                        <div class="col-md-3">
                                    <div class="title" style="padding-bottom: 10px;">
                                        <h3>Your Website Ratings</h3>
                                        <nvd3 options='surveydonutOptions' data='donutData'></nvd3>
                                    </div>


                        </div>

                    </div>

                    <div class="form-group" style="padding-top: 4px; padding-left: 30px; padding-right: 30px">
                                        <div class="span-form">
                                            <button style="font-size: 40px" onclick="location.href='/guidedTours';" class="btn btn-block">Guided Tours</button>
                                            <!-- <input type="submit" style="font-size: 40px" ng-click="" class="btn btn-block" value="Guided Tours"> -->
                                        </div>
                                        <div class="span-form">
                                            <button style="font-size: 40px" onclick="location.href='/msc';" class="btn btn-block">Messages Callouts and Surveys</button>
                                        </div>
                    </div>
                
            </div>
        

        <!-- </div>
    </section> -->
    <!-- contact end -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/smoothscroll.js"></script>
    <script src="../public/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../public/assets/js/jquery.localScroll.min.js"></script>
    <script src="../public/assets/js/jquery.nav.js"></script>
    <script src="../public/assets/js/owl.carousel.js"></script>
    <script src="../public/assets/js/jquery.magnific-popup.js"></script>
    <script src="../public/assets/js/jquery.flexslider-min.js"></script>
    <script src="../public/assets/js/jquery.parallax.js"></script>
    <script src="../public/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="../public/assets/js/matchMedia.js"></script>
    <script src="../public/assets/js/script.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
    <script src="../public/assets/js/wow.js"></script>
    <script src="../public/assets/js/easing.js"></script>

    <script>
        $(document).ready(function() {
            //"use strict";
            $('#feature').parallax("50%", 0.5, true);
            $('#video').parallax("50%", 0.5, true);
            $('#footer').parallax("50%", 0.5, true);
        });
    </script>


    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    

</body>

</html>