<!DOCTYPE html>
<html>
  
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/modal.css' />
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="angular/angularhelpmyusers.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
   <!--Anchor Pointer-->
    <style type="text/css">
   a:hover {
     cursor:pointer;
  }
  </style>
  
  <!--Corousel play-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="bower_components/angular/angular.min.js"></script> -->
      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js‌​"></script> -->
      <style>
          .carousel-inner > .item > img,
          .carousel-inner > .item > a > img {
             width: 25%;
             margin: auto;
          }
        </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
        $('.carousel').carousel({
          interval: 1500
        })
        });
    </script>
   
  </head>
  
  <body ng-app="helpmyusers" ng-controller="guidedTours">
 
  <div>
    <div class = "container-fluid">
      <div class = "row">
                <div class="col-md-3">
                  <label>Enter website URL:</label>
                </div>
                <div class="col-md-6">
                  <input type="text" ng-model="url">
                </div>
                <div class="col-md-3">
                  <button class="btn btn-primary" ng-click="loadURL();">GO</button>      
                  <button class="btn btn-primary" ng-click="publish();">Publish</button>      
                </div>
      </div>
      
      
      <div class = "row" style = "margin-top:100px;">
        
      <img src="{{imagePath}}" height="100%" width="100%" ng-click="setMessage()">
      
    </div>
  </div>  
  </div>
 

<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  </body>

</html>