<!DOCTYPE html>
<html>
  
  <head>
   		 
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-bottom-right-corner.css"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-bottom-right-corner.min.css"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-default.css"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-default.min.css"></script>

<script src =  "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-flat-attack.min.css"</script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-os.css"</script>


<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-os.min.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-plain.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-plain.min.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-top.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-top.min.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-wireframe.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-wireframe.min.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex.css"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex.min.css"></script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.combined.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.combined.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.min.js
"></script>

   		<meta charset="utf-8" />
    	<title>Messages</title>

  </head>
  
  <body ng-app="helpmyusers" ng-controller="helpmyusers">


      vex.dialog.alert('I was made by a plugin!')
 
  </body>

</html>