<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HelpMyUsers</title>
    <meta name="description" content="GRAPE App landing Page by Codepassenger">
    <meta name="author" content="CodePassenger">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Bootstrap -->
    <link href="../public/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../public/assets/css/animate.css">

    <!-- Owl-carousel style -->
    <link rel="stylesheet" href="../public/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/assets/css/owl.theme.css">

    <!-- magnific style -->
    <link rel="stylesheet" href="../public/assets/css/magnific-popup.css">

    <!-- Custom stylesheet-->
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../public/assets/css/responsive.css" media="screen">

    <!-- Added google font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!--Fav and touch icons-->
    <!-- <link rel="shortcut icon" href="../public/assets/images/icons/favicon.ico"> -->
    <link rel="apple-touch-icon" href="../public/assets/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/assets/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/assets/images/icons/apple-touch-icon-114x114.png">
    
    <link rel='stylesheet' href='/stylesheets/modal.css' />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->





    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="angular/angularhelpmyusers.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   

  


    <style>
        .imageClass {
            cursor:url(http://www.rw-designer.com/cursor-extern.php?id=12779), auto;
        }

        img {
           padding:1px;
           border:1px solid #021a40;
           background-color:#7ec0ee;
        }
    </style>




<!--   <script src="../public/scripts/pace.js"></script>
  <link href="../public/stylesheets/bounce-pace.css" rel="stylesheet" />

 -->


</head>

<body ng-app="helpmyusers" ng-controller="guidedTours">

    <!-- Preloader -->
<!--     <div id="faceoff">
        <div id="preloader"></div>
        <div class="preloader-section"></div>
    </div> -->
    <!-- Preloader end -->

    <!-- header start -->
 <!--    <header id="home" class="navbar-fixed-top">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                            <h1><a class="nav-brand" href="">HelpMyUsers</a></h1>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        
                        <div class="collapse navbar-collapse navbar-example" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#intro">Intro</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#price">Pricing</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </nav>
    </header> -->
    <!-- header end -->


    <!-- contact start -->
<!--     <section id="contact" class="contact white tab-content">

        <div class="tab-pane active contact-info" id="contact-form"> -->
            <div class="contact">

                <div class="row" style="padding-bottom: 0px;">
                    <div class="col-md-12" style="padding-bottom: 0px;">
                        <form class="form-horizontal" >
                                <div class="col-md-5 text-center" >
                        <!--<span class="sub-head">we are here</span>-->
                                <div class="title">
                                    <h2>Messages</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group" style="padding-top: 8px;">
                                        <input type="text"  ng-model="url" class="form-control" placeholder="Url" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" style="padding-top: 8px;">
                                    <input type="submit"  ng-click="loadURL();" class="btn btn-block" value="Go">
                                </div>
                            </div>
<!--                             <div class="col-md-1">
                                <div class="form-group" style="padding-top: 8px; padding-right: 6px;">
                                    <input type="submit"  ng-click="publish();" class="btn btn-block" value="Publish">
                                </div>
                            </div> -->
<!--                             <div class="col-sm-12">
                                <p class="contact-success">Your Message has been Successfully Sent!</p>
                                <p class="contact-error">Error! Something went wrong!</p>
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class = "row imageClass" style="padding-left: 20px;">        
                            <img src="{{imagePath}}" height="100%" width="100%" ng-click="imgFlag || setMessage()" ng-disabled="imgFlag" >
                        </div>
                    </div>
                    <div class="col-md-2">
                    <label>Sequence of your TOUR:</label>
                        <div >
                            <table class="table table-bordered" ng-repeat="tours in guidedTourData track by $index" style="table-layout: fixed;">
                                <tr>
                                    <td rowspan="3" valign="middle" style="text-align: center; column-width: 15px" width="15px">#{{$index+1}}</td>
                                    <td width="50px" style="overflow: hidden;" width="20px">ID: {{tours.id}}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; overflow: hidden;" width="20px">{{tours.header}}</td>
                                </tr>
                                <tr>
                                    <td width="20px" style="overflow: hidden;">{{tours.message}}</td>
                                </tr>

                            </table>
                        </div>
                                <div class="form-group" style="padding-top: 8px; padding-right: 6px;">
                                    <input type="submit" ng-disabled="guidedTourData.length<=0" ng-click="publish();" class="btn btn-block" value="Publish">
                                </div>
                    </div>
                </div>
            </div>
        

        <!-- </div>
    </section> -->
    <!-- contact end -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/smoothscroll.js"></script>
    <script src="../public/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../public/assets/js/jquery.localScroll.min.js"></script>
    <script src="../public/assets/js/jquery.nav.js"></script>
    <script src="../public/assets/js/owl.carousel.js"></script>
    <script src="../public/assets/js/jquery.magnific-popup.js"></script>
    <script src="../public/assets/js/jquery.flexslider-min.js"></script>
    <script src="../public/assets/js/jquery.parallax.js"></script>
    <script src="../public/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="../public/assets/js/matchMedia.js"></script>
    <script src="../public/assets/js/script.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
    <script src="../public/assets/js/wow.js"></script>
    <script src="../public/assets/js/easing.js"></script>

    <script>
        $(document).ready(function() {
            //"use strict";
            $('#feature').parallax("50%", 0.5, true);
            $('#video').parallax("50%", 0.5, true);
            $('#footer').parallax("50%", 0.5, true);
        });
    </script>


    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    

</body>

</html>