<!DOCTYPE html>
<html>
  
  <head>

      <link rel="stylesheet" type="text/css" href="vexjq/vex_all.css" />
      <script type="text/javascript" src="vexjq/vex.combined.js"></script>

  </head>
  
  <body ng-app="helpmyusers" ng-controller="helpmyusers">
        
        <script>
              message();
              survey();
        </script>

  </body>

</html>