<!DOCTYPE html>
<html>
  
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="angular/angularhelpmyusers.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
   <!--Anchor Pointer-->

	
	<!--Corousel play-->
		<meta charset="utf-8">
 	 	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
 <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- 		<script type="text/javascript">
  			$(document).ready(function() {
    		$('.carousel').carousel({
      		interval: 1500
    		})
  			});
		</script> -->

<!-- <script type="text/javascript">
        $(document).ready(function() {
      //var cursorX;
      //var cursorY;

/*function demo() {
  alert("yoyo");
};*/

       $("<div>Random Message</div>").dialog({position: { my: "left top", at: "left bottom", of: window }});

      $("body").click(function(){
        $("p").hide();
      });
});
  </script> -->
		<script type="text/javascript" src="scripts/messages.js"></script>
		
		
		
   
  </head>
  
  <body ng-app="helpmyusers" ng-controller="helpmyusers">
 
 	<div>
 		HEY
    <p>Temporary</p>
	</div> 	
 	
 
  </body>

</html>