<div class="modal-body" id="modal-body">

   <div class="login-form">
   		<form name="loginForm" novalidate>

            <input name = "message" ng-model = "message" type="text"  placeholder="Message" required>
   			
   			<button class="modal-btn-primary" ng-click="add();">Save</button>
            
   		</form>
   		
   </div>
</div>