<div class="modal-body" id="modal-body">
         
      <form name="signupform" novalidate>
               <input type="text" name="firstname" ng-model="firstname" placeholder="First name" class="name-field" required>
               
               <input type="text" name="lastname" ng-model="lastname" placeholder="Last name" class="name-field" required>
               
               <input type="email" name="email" ng-model="email" placeholder="Email address" class="mail-field" required>
               
               <input type="password" name="password" ng-model = "password" placeholder="Create a Password" class="pwd-field" required>
            
            <div class="login-options-wrap">
               <button type = "button" class="modal-btn-primary login-option" ng-click="ok()">Sign up</button>
            </div>

      </form>
            
         </div>
      </section>
   </div>
</div>
